<header>
    <div class="mylogo">
        <div class="logo_img">
            <img src="/assets/images/logo.png" alt="logo">
        </div>
        <div class="title">AntiqueExchange</div>
    </div>
    <nav>
        <ul>
            <li><a href="/seller">Become a Seller</a></li>
            <li class="category-dropdown">
                <a href="#">Categories</a>
                <ul class="category-menu">
                  <% globalCategories.forEach((category) => { %>
                    <li><a href="/category/<%= category %>"><%= category %></a></li>
                  <% }); %>
                </ul>
            </li>
            <li>
                <div class="cart-item">
                    <a href="/wishlistDetails" id="cart-con">WishList</a>
                </div>
            </li>
            <li><a href="/orders">Orders</a></li>
            <li>
                <div class="btn">
                    <% if (typeof session.userData === 'undefined') { %>
                    <a href="/login">Login</a>
                  <% } else { %>
                    <p>Welcome, <%= session.userData.Username %>!</p>
                    <a href="/logout">Logout</a>
                  <% } %></div>
            </li>
        </ul>
    </nav>
</header>