<header>
    <div class="mylogo">
        <div class="logo_img">
            <img src="/assets/images/logo.png" alt="logo">
        </div>
        <div class="title">AntiqueExchange</div>
    </div>
    <nav>
        <ul>
            <li><a href="#">About us</a></li>
            <li><a href="/seller">Become a Seller</a></li>
            <li class="category-dropdown">
                <a href="#">Categories</a>
                <!-- Dropdown menu for categories -->
                <ul class="category-menu">
                  <% globalCategories.forEach((category) => { %>
                    <li><a href="/category/<%= category %>"><%= category %></a></li>
                  <% }); %>
                </ul>
            </li>
            <li>
                <div class="cart-item">
                    <div id="cart-img">
                        <img src="/assets/images/bag.png" alt="cart" height="20vmin">
                    </div>
                    <a href="#" id="cart-con">Bag</a>
                </div>
            </li>
            <li>
                <div class="btn">
                    <% if (typeof session.userData === 'undefined') { %>
                    <!-- Display the login button if the user is not logged in -->
                    <a href="/login">Login</a>
                  <% } else { %>
                    <!-- Display user information if the user is logged in -->
                    <p>Welcome, <%= session.userData.Username %>!</p>
                    <a href="/logout">Logout</a> <!-- Add a logout link if needed -->
                  <% } %></div>
            </li>
        </ul>
    </nav>
</header>