<header>
    <div class="mylogo">
        <div class="logo_img">
            <img src="assets/images/logo.png" alt="logo">
        </div>
        <div class="title">AntiqueExchange</div>
    </div>
    <nav>
        <ul>
            <li><a href="#">About us</a></li>
            <li><a href="/seller">Become a Seller</a></li>
            <li><a href="#">Categories</a></li>
            <li>
                <div class="cart-item">
                    <div id="cart-img">
                        <img src="assets/images/cart.png" alt="cart" height="20vmin">
                    </div>
                    <a href="#" id="cart-con">Cart</a>
                </div>
            </li>
            <li>
                <div class="btn"><a href="/login">Login</a></div>
            </li>
        </ul>
    </nav>
</header>