<section class="sec">
    <div class="container">
        <div class="card-1">
            <a href="/category/Clothing"><img src="assets/images/suit.png" alt="Clothing"></a>
            <div class="content">
                Clothing
            </div>
        </div>
        <div class="card-1">
            <a href="/category/Watches"><img src="assets/images/watch.png" alt="Watches"></a>
            <div class="content">
                Watches
            </div>
        </div>
        <div class="card-1">
            <a href="/category/Cameras"><img src="assets/images/camera.png" alt="Cameras"></a>
            <div class="content">
                Cameras
            </div>
        </div>
        <div class="card-1">
            <a href="/category/Shoes"><img src="assets/images/shoe.png" alt="Shoes"></a>
            <div class="content">
                Shoes
            </div>
        </div>
        <div class="card-1">
            <a href="/category/Cycles"><img src="assets/images/cycle.png" alt="Cycles"></a>
            <div class="content">
                Cycles
            </div>
        </div>
        <div class="card-1">
            <a href="/category/MotorCycles"><img src="assets/images/bike.png" alt="Motor Cycles"></a>
            <div class="content">
                MotorCycles
            </div>
        </div>
    </div>
</section>

<section class="main_sec"></section>