<section class="sec">
    <div class="container">
        <div class="card-1">
            <img src="assets/images/suit.png" alt="">
            <div class="content">
                Clothing
            </div>
        </div>
        <div class="card-1">
            <img src="assets/images/watch.png" alt="">
            <div class="content">
                Watch
            </div>
        </div>
        <div class="card-1">
            <img src="assets/images/camera.png" alt="">
            <div class="content">
                Cameras
            </div>
        </div>
        <div class="card-1">
            <img src="assets/images/shoe.png" alt="">
            <div class="content">
                Shoes
            </div>
        </div>
        <div class="card-1">
            <img src="assets/images/cycle.png" alt="">
            <div class="content">
                Cycles
            </div>
        </div>
        <div class="card-1">
            <img src="assets/images/bike.png" alt="">
            <div class="content">
                MotorCycles
            </div>
        </div>
    </div>
</section>

<section class="main_sec"></section>