/* receipt-style.css */
body{
    font-family: 'Bricolage Grotesque', sans-serif;
}
/* Apply styles to the entire order confirmation container */
.order-confirmation.receipt {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header styles */
.order-confirmation.receipt h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Items purchased list styles */
.order-details ul {
    list-style: none;
    padding: 0;
}

.order-details li {
    margin-bottom: 5px;
}

.phone-email {
    font-size: 14px;
}

/* Back to dashboard link styles */
.back-to-dashboard {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.back-to-dashboard:hover {
    background-color: #0056b3;
}
