@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: 'Bricolage Grotesque', sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    background-color: #2874F0;
    font-weight: 600;
    padding: 3vh;
    color: whitesmoke;
}

.mylogo{
    padding: 2vh;
}

.logo_img{
    display: flex;
    justify-content: center;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    padding: 2vh;
    margin-left: 4vh;
}

nav ul a{
    color: white;
}

.btn{
    display: inline;
    padding: 2vh;
    margin: 0 4vh;
    cursor: pointer;
    border: 1px solid white;
}


/*.btn a{
    color: white;
    background-color: #1240B2;
    padding: 1vh;
    border: 1px solid black;
    border-radius: 1vh;
    text-decoration: none;
} */