@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,400;10..48,800&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: 'Bricolage Grotesque', sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    background-color: #2874F0;
    position: sticky;
    top: 0;
    height: 80px;
    font-weight: 600;
    color: white;
}